html,body,div,footer, header {
    display: block;
}
.div {
    margin-left: auto;
    margin-right: auto;
}
img {
    vertical-align: middle;
}
h2 {
    vertical-align: middle;
}
.header {
    width: auto;
    height: 80px;
}
.logo {
    width: 195px;
    height: 61px;
    float: left;
}
.nav {
    float: right;
}
li {
    text-decoration: none;
    float: left;
    list-style: none;
}
.nav ul li {
    text-decoration: none;
    float: left;
}
.main {
    width: 100%;
    height: auto;
}
.content {
    width: 1200px;
}
.banner {
    width: 100%;
    margin: 0px auto;
    height: 500px;
}
.banner-img {
    width: 100%;
    float: left;
}
.title {
    height: 10px;
}
.article-img {
    height: 258px;
    width: 166px;
    float: left;
}
.article-content{
    float: left;
    width: 1000px;
}
.article-link{
    float: right;
}

